
#logo{
    margin-left: 10px;
}

#logoutbutton{
    margin-right: 10px;
}

#hehe{
    margin-left: 100px;
}

#sc{
    margin-top: 3px;
    margin-right: 30px;
}
#logout{

    margin-right: 10px;
}

.big{
    display:flex;
}
